defaults: &defaults
  admin_path: 'admin'
  Facebook:
    AppID: your_app_id
    AppSecret: your_app_secret

development:
  <<: *defaults

test:
  <<: *defaults

production:
  <<: *defaults
  admin_path: 'your-admin-path'
