defaults: &defaults
  admin_path: 'admin'
  Facebook:
    AppID: your_app_id
    AppSecret: your_app_secret
  Braintree:
    MerchantID: your_merchant_id
    PublicKey: your_public_key
    PrivateKey: your_private_key

development:
  <<: *defaults

test:
  <<: *defaults

production:
  <<: *defaults
  admin_path: 'your-admin-path'
