<h1>商品列表</h1>

<%= link_to '新增商品', new_admin_product_path, class:'btn btn-default' %>

<table class="table">
  <tr>
    <td>名稱</td>
    <td>說明</td>
    <td>價錢</td>
  </tr>
  <% @products.each do |product| %>
  <tr>
    <td><%= product.title %></td>
    <td><%= product.description %></td>
    <td><%= product.price %></td>
  </tr>
  <% end %>
</table>
